.root{
	/*https://stackoverflow.com/questions/6092500/how-do-i-remove-the-default-border-glow-of-a-javafx-button-when-selected by JP_*/
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.flat-button{

   -fx-background-radius: 0.0;
}

.image-button{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-text-fill:transparent;    
}

.text-field{
    -fx-background-radius: 20.0;
 }
  
.radio-button > .radio {
    -fx-color: #B6BABE;
    -fx-border-width: 0.0;  
}

.radio-button:selected > .radio{
  /*-fx-color: #69B1E2;*/
    -fx-background-color: #69B1E2;
}

.radio-button:selected > .radio > .dot {
    -fx-background-color: transparent;
}

.vbox-left{
	/* -fx-background-color: radial-gradient(center 50% -40%, radius 200%, #00FFFF 45%, #00BFFF 50%); */
	-fx-background-color: radial-gradient(center 15% -40%, radius 300%, #0065a4 45%, #00BFFF 50%);
}

.vbox-right{
	-fx-background-color: radial-gradient(center 180% -40%, radius 300%, #00BFFF 45%, #0065a4 50%);
}

